<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mulauncher">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".LauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activities.PatternSetActivity" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AppTourActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.FaceRegistration" />
        <activity android:name=".ui.activities.LocationActivity" />

        <service
            android:name=".services.GeofenceTransitionsJobIntentService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.LockScreenService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activities.LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.activities.CreateProfileActivity" />
        <activity android:name=".ui.activities.ManageProfilesActivity" />
        <activity android:name=".ui.activities.AddUserActivity" />
        <activity android:name=".ui.activities.AppsSelectionActivity" />
    </application>

</manifest>